<p id="notice"><%= notice %></p>
<p>
  <strong>Id:</strong>
  <%= @company.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @company.start_date %>
</p>
<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
